*{
    padding: 0;
    margin: 0;
}
/* body{
    max-height: 100vh;
} */

#main-dashboard{
    margin: 10px;
    display: flex;
    height: 75vh;
}

#main-dashboard .div{
    background-color: #f3d677;
    margin: auto;
    padding: 20px;
    min-width: 75%;
    border-radius: 30px;
}

.balance-info {
    margin-bottom: 1px;
    padding: 20px;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.9); /* Soft shadow effect */
}

.balance-info h1 {
    color: #333; /* Dark text color */
}

.Initiate-transaction{
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.9);
    border-radius: 0 0 30px 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.account-info {
    background-color: #e9be5bd0; /* Light yellow background color for account info */
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.account-info P{
    font-weight: 600;
}

.actions {
    display: flex;
    gap: 40px;
}

.actions button {
    background-color: #ffc107; /* Yellow background color for buttons */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.actions button:hover {
    background-color: #ffd968; /* Darker yellow on hover */
}


@media screen and (max-width: 630px) {

    .actions {
        display: flex;
        gap: 10px;
    }

    .balance-info{
        height: fit-content;
    }

    .actions {
        font-weight: bolder;
        flex-direction: column;
        width: 75%;
        margin: auto;
    }

}

@media screen and (max-width: 400px) {

    i h5{
        font-size: 10px;
    }

    .balance-info{
        height: fit-content;
    }

    .actions {

        font-weight: bolder;
        flex-direction: column;
        width: 75%;
        margin: auto;
    }
}

/* DASHBOARD SIDE BAR */

.dashboard-side-panel{
    height: auto;
    width: 70px;
    padding: 0 0;
    border-right: 1px solid black;
    display: flex;
}

section.d-main-section{
    margin-left: 70px;
}

section.d-main-section-new-margin{
    margin-left: 170px;
}

section.side-menu .share{
    /* padding-bottom: 40px; */
    gap: 5px;
}


.icon-labels {
    font-size: 15px;
    opacity: 0;
}



.dashboard-side-panel > section.side-menu{
    margin: 0;
    padding: 0;
    width: 100%;
    /* gap: 5px; */
}


.d-image-div img{
    margin-right: auto;
    width: 50px;
}

.d-image-div span{
    padding: 0 10px;
    font-weight: 900;
    flex: 1;
    margin-right: auto;
    height: 100%;
    display: none;
    justify-content: flex-start;
    align-items: center;
}

#switchIcon{
    /* background-color: aliceblue; */
    color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 65px;
    left: 62px;
    font-size: 30px;
}

/* More services drop down */
ul#more-service-ul{
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    gap: 30px;
    background-color: hsla(120, 64%, 27%, 0.5);
}

li.more-services{
    padding: 8px 0;
}

span#expand_more{
    content: 'Hello';
}